body {
    background-color: rgb(18, 25, 19);
    color: white;
    font-size: 18px;
    text-align: center;
    list-style-position:inside;
    margin: auto;
    width: auto;
  }

  #heading1 {
    font-size: 40px;
    color: rgb(250, 234, 132);
  }

  h3  {
    font-size: 30px;
    color: rgb(250, 234, 132);
  }



 #list ul {
    display:inline-block;
    zoom:1;
    color: rgb(250, 250, 250);
    text-align: left;
    
  }

  .left {
    text-align: left;
    padding: 2%;
    display: inline-block;
    width: 40%;

  }

  .right {
    text-align: right;
    padding: 2%;
    display: inline-block;
    width: 40%;

  }